*{margin:0;padding:0;box-sizing:border-box;}
body{
	width: 100%;
	background-color:#ddd;
	color:#393939;
	font-family:"STHeiti Light",STHeiti,SimHei,"Microsoft JhengHei","Helvetica Neue",sans-serif;
	font-size:1rem;
}
.container{
	width: 1000px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.hide{
	display:none;
}
.font-small{
	font-size:0.6rem;
}